#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-core{
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-root{
    width: 80%;
}

.pre-game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    justify-content: space-around;
}

.pg-btn-start{
    font-size: 20px;
}

.nmbr-keys-h{
    font-size: 12px;
    font-style: italic;
}

.answr-input{
    border: 1px solid #746161;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}

.answer-form{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column
}

.answr-submit{
    margin: 10px 0px;
    background-color: darkseagreen;
}

.questionBlocks{
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.questionBlocks h2{
    align-self: center;
}
.questionBlocks div{
    font-style: italic;
    text-align: justify;
    text-indent: 20px;
    line-height: 18px;
}

